extends base.pug
block styles
    style
        include ../static/styles/index.css
block content
    section#home
        h1  RJIT GEEKS
        h2  Life within {braces}...
        div
            span Coding 
            span#club Club
    section#about
        h1  About Us
        p We are a team of good programmers who are best from the rest.
        p#and   and
        div   
            span   We believe in
            span#PtoP    Peer to Peer
            span#learning   learning.
    section#gallery     hello